body {
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex;  */
    background-color: rgb(195, 212, 235, 9%);
    width: 98%;
}
@media only screen and (min-width: 1350px) {
    #CO2_div{
        width:20%;
        display: inline-block;
        float: right;
        margin-left: 0px;
/*     margin-top: -10px; */
    }
}
:root {
  --v: 100px;
}

/*   margin-left: calc(-1 * var(--v)); */
.Menu{
    width: var(--v);
    height: 100vh;
    padding: 10px 20px 10px 10px;
    margin: 0%;
    display: inline-block; 
    float: left;
    background-color: rgb(0, 71, 186, 1);
    color: rgb(255, 255, 255, 1); 
}
#Logo{
  width: 100%;
  margin: 20px 0px 20px 0px;
}
.Menu a{
    color: rgb(255, 255, 255, 1);
  float: left;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
}
.Menu a:hover {
  color: rgb(255, 255, 255, 50%);
}

/* Home page */
.Home_content {
    margin-top: 0%;
    /*     padding: 0%; */
    width: 70%;
    height: 100%;
    display: inline-block;
/*     margin-left: calc(50px + var(--v)); */
}
#App_title{
    margin-left: calc(-30px + var(--v));    
    
}
#Form {
    width: 100%;
    margin-top: 20px;
    margin-left: calc(-30px + var(--v));    
    padding: 10px 15px 15px 0px;
    background-color: rgb(255, 255, 255, 1);
    font-size: 15px;
}
#Form hr{
    width:95%;
    margin-left: 20px;
    text-align: center;
}
.Inputs_divs{
    width: 180px;
    margin: 5px 0px 0px 20px;
    display:inline-block;
}
.Inputs_divs input{
    width: auto;
}
#Calculate-btm{
    width: 150px;
    padding: 5px;
/*     height: 30px; */
    margin: 5px 0px 0px 20px;
    color: rgb(255, 255, 255, 1);
    background-color: rgb(0, 71, 186, 1);
    font-size: 15px;
}
#Calculate-btm:hover{
    background-color: rgb(100, 118, 132, 1);
}
#fileUpload{
    width: 200px;
    margin: 5px 0px 0px 20px;
    display:inline-block;
}
#fileUpload::-webkit-file-upload-button {
    color: rgb(255, 255, 255, 1);
    background-color: rgb(0, 71, 186, 1);
}
#fileUpload::-webkit-file-upload-button:hover{
    background-color: rgb(100, 118, 132, 1);
}
#upload{
    width: 150px;
    padding: 5px;
/*     height: 30px; */
/*     margin: 5px 0px 0px 20px; */
    color: rgb(255, 255, 255, 1);
    background-color: rgb(0, 71, 186, 1);
    font-size: 15px;
}
#upload:hover{
    background-color: rgb(100, 118, 132, 1);
}

.Card_home{
    width: 100%;
/*     height: 100%; */
    margin-top: 20px;
    margin-left: calc(-30px + var(--v));
    padding: 0px 15px 15px 0px;
    background-color: rgb(255, 255, 255, 1);
        
}
.Intro_div{
    width: 25%;
    height: 100%;
    margin: 20px 100px 20px 80px;
    display:inline-block;    
/*     text-align: top; */
    background-color: rgb(255, 255, 255, 1);    
}
/* .Intro_div p{ */
/*     font-size: 18px; */
/* } */
.Img_div{
    width: 50%;
/*     height: 70%; */
    margin: 20px 0px 20px 0px;
    display:inline-block;
    background-color: rgb(255, 255, 255, 1);        
}
#Home_Page_Image{
/*     text-align: center; */
/*     padding: 0px 15px 0px 15px; */
    width: 70%;
/*     height: 70%; */
/*     display:inline-block; */
    background-color: rgb(255, 255, 255, 1);    
}
/* Visualization page */
.Container {
/*     margin-top: 30px; */
    width: 100%;
    height: 100%;
    display: inline-block; 
}

#Cover {
    background-color: rgb(0, 0, 0, 0%);
    width: 100%;
    height: 100%;
    position: absolute;
}
.Visualization {
/*     margin-top: 30px; */
/*     margin-left: calc(10px + var(--v)); */
/*     margin-left: 200px; */
    margin-top: 20px;
    display: inline-block; 
/*     border: 1px solid;  */
/*     float: center; */
/*     padding-left: 20px; */
    width: 60%;
    height: 100%;
/*     display: inline-block;  */
}
.People_X, li{
    width: 10px;
    height: 10px;
    font-size: 10px;
    padding: 11px;   
}
.Charts_titles{
    width: 100%;
}
.Charts_duration{
    width: 100%;    
}
/* .charts{
    width: 50%;
    height: 400px;
    margin: 0%;
/*     margin-left: 185px; */
/*     margin-top: 20px; */
/* } */
.Charts_persons{
    margin-top:460px;
    width: 100%;
}
.chart, th{
    font: bold;
    font-size: 10px;
    height: 20px;
}
.chart, td{
    font-size: 10px;
    padding: 0%;
    width: 500px;
    height: 30px;
}
/* .chart, td:first-child{
    width: 30%;
} */

table {
    table-layout: fixed;
/*     width: 1000px; */
/*     height: 1000px; */
}
/* p {
    margin-left: 200px;
} */
/* _________________________ */
/* Risk style */
#Risk_title{
    width:500px;
    display: inline-block; 
/*     border: 1px solid;  */
/*     float: left; */
    margin-left: 40px;
    margin-bottom: 0px;
}
#Risk_duration{
    width:500px;
    display: inline-block; 
/*     border: 1px solid;  */
/*     float: left; */
    margin-left: 40px;
    margin-bottom: -10px;
}
#Risk_div{
    width:50%;
    display: inline-block; 
/*     border: 1px solid;  */
    float: left;
/*     margin-top: -10px; */
    margin-left: 60px;

}
#People_risk{
    display: inline-block; 
    float: left;    
}
#people_risk, ul{
/*     margin-top: 140px; */
/*     display: inline-block;  */
/*     float: left; */
    margin-left: -50px;
    list-style-type: none;
}
/* #people_risk, .innercontents{ */
/*     display: inline-block;  */
/*     border: 1px solid;  */
/*     float: left; */
/*     margin-left: 200px; */
/*     position: absolute; */
/*     left: -200px; */
/*     margin-left: -200px; */
/*     background: red; */
/*     margin-top: 70px; */
/*     margin-bottom: -70px; */
/* } */
#chart_risk{
    width:50%;
    display: inline-block; 
/*     border: 1px solid;  */
/*     float: left; */
/*     margin-left: 100px; */

}
#Risk_person{
    width:500px;
/*     display: inline-block;  */
/*     border: 1px solid;  */
    float: left;
    margin-top: 470px;
    margin-left: 40px;
}

/* CO2 style */
#CO2_title{
    width:500px;
    display: inline-block; 
/*     border: 1px solid; */
/*     margin-top: -150px; */
    margin-left: 40px;
    margin-bottom: 0px;
}
#CO2_duration{
    width:500px;
    display: inline-block; 
/*     border: 1px solid; */
    margin-left: 40px;
    margin-bottom: -10px;
}
#CO2_div{
    width:20%;
/*     display: inline-block;  */
/*     float: right; */
/*     margin-top: -10px; */
    margin-left: 60px;
}
#People_CO2{
    display: inline-block; 
    float: left;    
}
#People_CO2, ul{
/*     margin-left: 120px; */
/*     display: inline-block;  */
/*     float: left; */
    list-style-type: none;    
}
#People_CO2, .innercontents{
/*     background: green; */
/*     width:35%; */
    display: inline-block; 
/*     margin-left: 700px; */
/*     margin-top: -680px; */
}
#chart_CO2 {
    width:50%;
    /* margin-top: -10px; */
     display: inline-block; 
/*     margin-left: 5%; */
}
#CO2_person{
    width:500px;
    margin-top: 470px;
    margin-left: 40px;
/*     display: inline-block;  */
}

/* _________________________ */
/* Report style: */
.Report{
    width: 1500px;
/*     background-color: rgb(0, 71, 186, 5%); */
}
.Report_menu{
    height: 50px;
    width: 100%;
    padding: 20px 20px 0px 20px;
    background-color: rgb(0, 71, 186, 1);
    color: rgb(255, 255, 255, 1); 
}
#Report_logo{
    width: 100px;
}
.Report_menu a{
    margin: 0px 20px 0px -20px;
    color: rgb(255, 255, 255, 1);
    float: right;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
}

.Report_viz{
/*     margin-top: 50px; */
    padding: 50px;
}
.room {
    width:1240px;
    /* height: 1754px; */
/*     display: block; */
/*     position: relative; */
    text-align:center;
    /* padding: 10% 0px 0px 100px; */
    margin: 0%;
    background-color: rgb(255, 255, 255, 1);
/*     padding: 50px; */
}
.Risk_div {
    width: 45%;
    height: 35%;
    display: inline-block; 
    margin: 0%;
    padding: 0%;
/*     background-color: rgb(255, 255, 255, 1); */
/*     float: left; */
}
.CO2_div {
    width: 45%;
    height: 35%;
    display: inline-block; 
    margin: 0%;
    padding: 0%;
/*     background-color: rgb(255, 255, 255, 1); */
/*     float: right; */
}
.Info_div {
    width: 100%;
    height: 15%;
/*     padding: 10px ; */
/*     background-color: rgb(255, 255, 255, 1); */
/*     margin-top: -1000px; */
/*     display: inline-block; */
}

.title_risk{
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
}
.chart_time_risk{
/*     padding: 0px 0px 0px 0px; */
    margin: 0px 0px 0px 0px;    
}
.title_co2{
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
}
.chart_time_co2{
/*     padding: 0px 0px 0px 0px; */
    margin: 0px 0px 0px 0px;    
}

.PeopleRiskX_div {
    width: 3%;
    margin: 0px 0px 0px 0px;
    height: 50%;
    padding: 0%;
    display: inline-block; 
}
.RiskChart_div {
    width: 80%;
    display: inline-block;
    margin: 0%;
/*     position: absolute; */
/*     margin-top: -520px; */
    /* height: 500px; */
    /* display: inline-block;  */
/*     float: right; */
}
.PeopleCo2X_div {
    width: 3%;
    margin: 0px 0px 0px 0px;
    height: 50%;
    display: inline-block; 
}
.CO2Chart_div {
    width: 80%;
    display: inline-block;
    margin: 0%;
/*     position: absolute; */
/*     margin-top: -520px; */
    /* height: 500px; */
    /* display: inline-block;  */
/*     float: right; */
}

.table_risk {
    margin: 0px 0% -10px 0%;
/*     margin-left: 10px; */
}
.table_co2 {
    margin: 0px 0% -10px 0%;
/*     margin-left: 10px; */
}

.chart_people_risk{
    padding: 0% 0% 0% 0%;
    margin: -15px 0% 0% 0%;
    width: 60%;
/*     float: left; */
}
.chart_people_co2{
    padding: 0% 0% 0% 0%;
    margin: -15px 0% 0% 0%;
    width: 60%;
}

.Info_div p{
    width: 95%;
    margin: 0% 5% 0% 5%;
    padding: 15px 0px 10px 0px;
/*     background-color: rgb(255, 255, 255, 1); */
}

/* _________________________ */
/* Charts colors: */
.color1, td{
    color: rgb(0, 0, 0, 0%);
    background-color: rgb(0, 176, 80 );
}
.color2, td{
    color: rgb(0, 0, 0, 0%);
    background-color: rgb(35, 178, 70 );
}
.color3, td{
    color: rgb(0, 0, 0, 0%);
    background-color: rgb(70, 180, 60);
}
.color4, td{
    color: rgb(0, 0, 0, 0%);
    background-color: rgb(105, 182, 50);
}
.color5, td{
    color: rgb(0, 0, 0, 0%);
    background-color: rgb(140, 184, 40);
}
.color6, td{
    color: rgb(0, 0, 0, 0%);
    background-color: rgb(175, 186, 30);
}
.color7, td{
    color: rgb(0, 0, 0, 0%);
    background-color: rgb(210, 188, 20);
}
.color8, td{
    color: rgb(0, 0, 0, 0%);
    background-color: rgb(245, 190, 10);
}
.color9, td{
    color: rgb(0, 0, 0, 0%);
    background-color: rgb(248, 172, 0);
}
.color10, td{
    color: rgb(0, 0, 0, 0%);
    background-color: rgb(240, 156, 0);
}
.color11, td{
    color: rgb(0, 0, 0, 0%);
    background-color: rgb(231, 130, 0);
}
.color12, td{
    color: rgb(0, 0, 0, 0%);
    background-color: rgb(224, 104, 0);
}
.color13, td{
    color: rgb(0, 0, 0, 0%);
    background-color: rgb(216,78, 0);
}
.color14, td{
    color: rgb(0, 0, 0, 0%);
    background-color: rgb(208, 52, 0);
}
.color15, td{
    color: rgb(0, 0, 0, 0%);
    background-color: rgb(200, 26, 0);
}
.color16, td{
    color: rgb(0, 0, 0, 0%);
    background-color: rgb(192, 0, 0);
}